#pageTitle{
	text-align: center;
	color: #FFF;
	font-size: 23px;
	margin-top: 90px;
}
#videos{

	margin: auto;
	position: relative;
	width: 1000px;
	margin-top: 110px;
}

#videos li{
	display: inline-block;
	margin: 10px;
}

#videos li a{ text-decoration: none; }
#videos li a:hover{ text-decoration: underline; }

#videos li .videoTitle{
	color: #fff;
}

#videos li .videoThumb{
	width: 141px;
	height: 100px;
	background: #fff;
}